/* shoppingBag */
.cross {
  float: right;
  background-color: dimgrey;
  color: white;
  font-weight: bolder;
  width: 10%;
  height: 2%;
  font-size: 1.2em;
  text-align: center;
}
.cross:hover {
  cursor: pointer;
}
#bagContainer {
  padding-top: 30vh;
}
#nothing {
  text-align: center;
  height: 30vh;
  line-height: 10rem;
}
